.icon {
  width: 20px;
  height: 20px;
  @include flex(center, center);
  &.xs {
    width: 10px;
    height: 10px;
  }
  &.md {
    width: 16px;
    height: 16px;
  }
  &.lg {
    width: 20px;
    height: 20px;
  }
  &.sm {
    width: 12px;
    height: 12px;
  }
  &.xl {
    width: 24px;
    height: 24px;
  }
  &.xxl {
    width: 30px;
    height: 30px;
  }
  &.unset {
    width: auto;
    height: auto;
  }
  cursor: pointer;
}
