
.accordion {
  padding-left: 40px;
  width: 100%;
}
.heading {
  min-width: 300px;
  max-width: 300px;
}
.container {
  padding-top: 80px;
  @include tablet {
    display: block;
    .heading {
      min-width: 100%;
      max-width: 100%;
      text-align: center;
      padding-bottom: 32px;
    }
    .accordion {
      padding-left: 0;
    }
  }
}