@mixin enter {
  opacity: 0;
  transform: scale(0.65);
}

@mixin active {
  opacity: 1;
  transform: scale(1);
}
@mixin transition {
  transition: all .4s ease-in-out;
}

.product {
  position: relative;
}
.image {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    transition: opacity .8s ease,transform 1.1s cubic-bezier(.15,.75,.5,1) 0s;
    &:last-child {
      opacity: 0;
      transform: scale(.8);
    }
    &:hover {
      &:last-child {
        opacity: 1;
        transform: scale(1);
      }
      &:first-child {
        opacity: 0;
        transform: scale(.85);
      }
    }
  }
  height: 0;
  padding-top: calc(991px / 768px * 100%);
}
.info {
  padding-top: 20px;
  .brand {
    padding-bottom: 8px;
  }
  .name {
    padding-bottom: 8px;
  }
  .price {
    line-height: 24px;
  }
  span {
    line-height: normal;
  }
  .discount {
    text-decoration: line-through;
  }
}
.btn {
  width: 80%;
  margin-top: 20px !important;
}