.right {
  flex-grow: 1;
  width: 35%;
  margin-left: 32px;
  align-self: baseline;
  @include box-dashboard();
  @include tablet {
    width: 100%;
    margin-left: 0;
    margin-top: 32px;
  }
}
.normal {
  width: auto;
}
.comments {
  padding-top: 20px;
  padding-bottom: 20px;
}
.no-match {
  @include padding(20);
  span {
    color: $red-primary;
    word-break: break-all;
  }
  .btn {
    width: auto;
    margin-left: 4px;
    background: $light-gray;
    border-radius: 16px;
    font-size: 14px;
    padding: 0 10px;
    @include show-n-line(1);
    max-width: calc(100% - 120px);
  }
  .new {
    padding-top: 16px;
  }
}
.submit {
  margin-top: 20px;
}
