.right {
  @include box-dashboard();
}
.btn {
  padding-bottom: 16px;
  span {
    padding-left: 12px;
  }
}
.price {
  margin-top: 32px;
}
.button {
  span {
    padding-left: 12px;
  }
}
.hide {
  margin-bottom: 0;
}