.element {
  transition: all .1s ease-in-out;
  &:hover {
    color: $dark-gray;
    cursor: pointer;
  }
}
.caret {
  display: flex;
  align-items: center;
  .icon {
    margin-left: 14px;
    margin-right: 14px;
  }
  font-size: 16px;
  color: $dark-gray;
}
.active {
  color: $black;
}