.box {
  @include padding(16, 20);
  background-color: $gray-secondary;
  border-radius: 4px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
.content {
  padding-left: 16px;
  p {
    &:first-child {
      @include show-n-line(1);
    }
  }
}