$shadow: (
    sm: 0px 2px 8px rgba($black, .15),
    md: 0px 2px 8px rgba($black, .2),
    lg: 0px 2px 8px rgba($black, .25)
) !default;

$cursor: (
    pointer
) !default;

@each $var in $cursor {
    #{$var} {
        cursor: $var;
    }
}
@each $var, $value in $shadow {
    .shadow-#{$var} {
        box-shadow: $value;
    }
}