@for $var from 1 to 100 {
  .f-#{$var} {
    font-size: #{$var}px;
  }
}
@mixin editor {
  * {
    margin-bottom: 16px;
  }
  p, li, span {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 32px;
    line-height: 48px;
  };
  h2 {
    font-size: 28px;
    line-height: 40px;
  };
  h3 {
    font-size: 24px;
    line-height: 36px;
  };
  h4 {
    font-size: 22px;
    line-height: 32px;
  }
  h5 {
    font-size: 20px;
    line-height: 28px;
  };
  h6 {
    font-size: 18px;
    line-height: 24px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: normal;
  }
  a {
    color: $green-primary !important;
  }
  img {
    max-width: 56.25%;
    width: 100%;
    border-radius: 8px;
  }
  strong {
    font-weight: 500;
  }
  blockquote {
    padding: 24px 24px 24px 64px;
    background: #f4f6f8;
    color: rgb(99, 115, 129) !important;
    line-height: 32px;
    margin: 40px auto;
    max-width: 80%;
    width: 100%;
  }
}

@mixin box-dashboard {
  @include padding(24);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba($color: $black, $alpha: .12);
}

@mixin dashboard-layout {
  @include padding(116, 60);
  @include basic-desktop {
    @include padding(60, 16);
  }
}

@mixin box-shadow {
  @include padding(24);
  box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  border-radius: 16px;
  border: 1px solid $border;
}

@mixin basic-desktop {
  @media screen and (max-width: $desktop-mw) {
    @content;
  }
}

@mixin secondary-desktop {
  @media screen and (max-width: $desktop-md) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-mw) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-mw) {
    @content;
  }
}

@mixin sm-mobile {
  @media screen and (max-width: $sm-mobile-mw) {
    @content;
  }
}
@mixin padding($paddingX, $paddingY: "") {
  @if $paddingY == "" {
    padding: #{$paddingX}px;
  } @else {
    padding: #{$paddingX}px #{$paddingY}px;
  }
}

@mixin margin($marginX, $marginY) {
  margin: #{$marginX}px #{$marginY}px;
}

@mixin show-n-line($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; /* number of lines to show */
  line-clamp: $line;
  -webkit-box-orient: vertical;
}
@mixin flex ($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}