@for $var from 1 to 100 {
  .f-#{$var} {
    font-size: #{$var}px;
  }
}
@mixin editor {
  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
  } 
}

@mixin box-dashboard {
  @include padding(24);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba($color: $black, $alpha: .12);
}

@mixin dashboard-layout {
  @include padding(116, 60);
  @include basic-desktop {
    @include padding(60, 16);
  }
}

@mixin box-shadow {
  @include padding(24);
  box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  border-radius: 16px;
  border: 1px solid $border;
}

@mixin basic-desktop {
  @media screen and (max-width: $desktop-mw) {
    @content;
  }
}

@mixin secondary-desktop {
  @media screen and (max-width: $desktop-md) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-mw) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-mw) {
    @content;
  }
}

@mixin sm-mobile {
  @media screen and (max-width: $sm-mobile-mw) {
    @content;
  }
}
@mixin padding($paddingX, $paddingY: "") {
  @if $paddingY == "" {
    padding: #{$paddingX}px;
  } @else {
    padding: #{$paddingX}px #{$paddingY}px;
  }
}

@mixin margin($marginX, $marginY) {
  margin: #{$marginX}px #{$marginY}px;
}

@mixin show-n-line($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; /* number of lines to show */
  line-clamp: $line;
  -webkit-box-orient: vertical;
}
@mixin flex ($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}