@each $var in $position {
    .position-#{$var} {
        position: $var;
    }
}
@each $text in $text-transform {
    .text-#{$text} {
        text-transform: $text;
    }
}

@each $var in $text-position {
    .text-#{$var} {
        text-align: $var;
    }
}