$defaultTags: (
  h1, h2, h3, h4, h5, h6, span, div
) !default;

$defaultSize: (
  sm: 14, md: 16, lg: 18
) !default;

@each $size, $value in $defaultSize {
  .typo-#{$size} {
    font-size: $value;
  }
}

@each $tag in $defaultTags {
  
}
