$desktop-mw: 1500px;
$tablet-mw: 991px;
$mobile-mw: 768px;
$sm-mobile-mw: 576px;

$color: (
  black: #000000,
  white: #fff,
  gray: #f8f8f8,
  red: red,
  blue: #0066ff,
  green: #00ab55,
  light-green: #00ab5514
) !default;

$weight: (300, 400, 500, 600, 700, bold) !default;
$black: #000000;
$l-black: #191010;
$white: #fff;
$gray: #f8f8f8;
$dark-gray: #8590a6;
$footer-link: #9b9b9b;
$light-gray: #F6F6F6;
$sub-text-gray: #696969;
$color-secondary: #666666;
$gray-secondary: #919eab1f;
$light-gray-secondary: #909eab;
$border: #ddd;
$disabled: rgba(0, 0, 0, 0.12);
$light-green-primary: #00ab5514;
$green-primary: #00ab55;
$direction-X: X;
$direction-Y: Y;
$direction-Z: Z;
$form-background: linear-gradient(219.77deg, #ff82f5, #3d86f3 99.17%);
$fb-blue: #1780de;
$google-red: #df4930;
$blue: #0066ff;
$device: 16/9;
$pd-container: 64px;
$pd-container-bt: 40px;
$pd-mobile-breadcrumb: 32;
$red-primary: #F1403C;
$sidebar-width-primary: 280px;

$position: (relative, absolute, static, fixed, sticky, unset) !default;

$text-transform: (uppercase, lowercase, capitalize, unset, inherit) !default;
$text-position: (center, start, inherit, unset, end, none) !default;

$toast: (
  success: #edf7ed,
  info: #e5f6fd,
  warning: #fff4e5,
  error: #fdeded
) !default;

@each $c, $value in $color {
  .color-#{$c} {
    color: $c;
  }
  .bg-#{$c} {
    background: $c;
  }
}

@each $var in $weight {
  .weight-#{$var} {
    font-weight: $var;
  }
}