.grid {
  gap: 20px;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
.loading {
  .loading-image {
    height: 300px;
    border-radius: 8px;
  }
  @include tablet {
    .loading-image {
      height: 250px;
    }
  }
  .text {
    margin-top: 10px;
    border-radius: 8px;
  }
}