.grid {
  .element {
    &:first-child {
      grid-column: span 2;
    }
  }
}
.container {
  min-height: 50vh;
  @include flex(center, center);
  flex-direction: column;
  button {
    margin-top: 20px;
  }
}