.group {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  bottom: auto;
  & > div {
    border-radius: 4px;
    span {
      min-width: 70px;
      text-align: center;
      top: -100%;
    }
    @include tablet {
      width: 35px;
      height: 35px;
      span {
        top: -85%;
      }
    }
  }
  .active {
    background: $black;
    svg {
      fill: $white;
    }
  }
}