.container {
  padding: 4px 8px;
  border-radius: 4px;
}
.out {
  background: $red-primary;
  color: $white;
}
.normal {
  background: $light-green-primary;
  color: $green-primary;
}
.low {
  background: rgba(255, 193, 7, 0.16);
  color: rgb(183, 129, 3);
}
