.container {
  position: relative;
  .list {
    position: absolute;
    top: 100%;
    background: $white;
    z-index: 10;
    width: 100%;
    border-radius: 4px;
  }
}
.scrollView {
  max-height: 230px;
  .body {
    padding: 0;
  }
}
.input {
  margin: 0;
  width: 100%;
  input {
    padding: 5px;
    height: 100%;
    min-width: 30px;
  }
  fieldset {
    display: none !important;
  }
}
.box {
  @include padding(16, 14);
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}