.create {
  width: 65%;
}
.option {
  flex-grow: 1;
  padding-left: 32px;
}
.container {
  fieldset {
    border-color: $border;
  }
  @include tablet {
    display: block !important;
    .create {
      width: 100%;
      margin-bottom: 32px;
    }
    .option {
      padding-left: 0;
    }
  }
}