@mixin enter {
  opacity: 0;
  transform: translateY(4%);
}
@mixin active {
  opacity: 1;
  transform: translateY(0);
}

.enter {
  @include enter();
}
.enter-active {
  @include active();
  transition: all 0.5s ease-out;
}
.exit {
  @include active();
}
.exit-active {
  @include enter();
  transition: all 0.5s ease-out;
}
.header {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 20px;
}
.close {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  right: 1rem;
}
.footer {
  padding-bottom: 20px;
}
.body {
  padding: 20px;
  .close {
    top: 20px;
    transform: translateY(0);
  }
}
.container {
  min-height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 20;
}
.backdrop {
  position: absolute;
  z-index: 100;
}
.main {
  display: flex;
  flex-direction: column;
  z-index: 100;
  background: $white;
  width: 100%;
  border-radius: 8px;
  max-height: calc(100vh - 100px);
  z-index: 101;
  @include mobile {
    max-width: 90%!important;
  }
}
.scroll {
  .body {
    overflow-y: scroll;
    flex-grow: 1;
  }
}
.center {
  .header {
    text-align: center;
  }
}
.modal-{
  &sm {
    max-width: 375px;
  }
  &md {
    max-width: 500px;
  }
  &lg {
    max-width: 768px;
  }
  &xl {
    max-width: 1024px;
  }
  &full {
    max-width: 100%;
  }
}
