.slider {
  max-height: 80vh;
  position: relative;
  .image {
   background-image: url('/image/1_bee5c8c6-17df-421b-bde5-8262bb2e896d_3350x.jpeg');
   padding-top: calc(1532px / 3350px * 100%);
   object-fit: cover;
   height: 0;
   background-size: cover;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center center;
  }
  .content {
    width: 100%;
    position: absolute;
    inset: 0;
    height: 100%;
    @include padding(92, 52);
    h2 {
      line-height: 64px;
    }
    p {
      @include padding(28, 0);
    }
  }
  button {
    min-width: 200px;
  }
  .card-content {
    max-width: 450px;
    // transition: all .35s ease-in-out;
    // transform: translateY(30%);
    // opacity: 0;
  }
  @include mobile {
    max-height: 100%;
    .image {
      background-image: url('/image/speaker_750x.webp');
      padding-top: calc(600px / 750px * 100%);
    }
    .card-content {
      max-width: 100%;
      width: 100%;
    }
    .content {
      position: relative;
      @include padding(16);
      text-align: center;
      h2 {
        font-size: 30px;
        line-height: 48px;
      }
      p{
        @include padding(12, 0);
      }
      button {
        min-width: auto;
      }
    }
  }
}
.active {
  display: none;
  .card-content {
    transform: translateY(0);
    opacity: 1;
  }
}