.login {
    @include padding(10, 16);
    font-weight: 500;
    span {
        padding-left: 12px;
    }
    margin-top: 12px;
    border: 1px solid $black;
    border-radius: 4px;
    cursor: pointer;
}