.check-box {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid $border;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.active {
    background: $black;
}
.btn {
  position: absolute;
  inset: 0;
}