.step {
  position: relative;
  .info {
    padding-top: 24px;
    color: $dark-gray;
    line-height: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.active {
  .info {
    font-weight: 500;
  }
}
.line {
  height: 2px;
  flex-grow: 1;
  background: rgba(145, 158, 171, 0.24);
  align-self: flex-start;
  position: relative;
  top: 2px;
}
.container {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -10px;
  @include flex(center, center);
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $dark-gray;
  }
  svg {
    path {
      stroke: $green-primary;
    }
  }
}
.active-element {
  .info {
    color: $green-primary;
  }
}