.grid {
  flex-grow: 1;
  margin-left: 32px;
  .info {
    padding-top: 16px;
  }
  .address {
    @include padding(8, 0);
  }
  @include tablet {
    margin-left: 0;
    margin-top: 32px;
  }
}
.btn {
  margin-top: 32px;
  border-radius: 8px;
}