.swiper {
  :global {
    .swiper-button-prev, .swiper-button-next {
      color: $black;
      width: 10px;
    }
  }
}
.container {
  padding-bottom: 20px;
  .left, .right {
    svg {
      fill: $white;
    }
    width: 40px;
    height: 40px;
    @include flex(center, center);
    background: rgba($color: $black, $alpha: .6);
    border-radius: 50%;
    cursor: pointer;
  }
}
.btn-ripple {
  border-radius: 50% !important;
}
.margin {
  margin-right: 20px !important;
}