@for $var from 1 to 10 {
  .grid-cols-#{$var} {
    @if $var == 1 {
      width: 100%;
    }
    grid-template-columns: repeat($var, 1fr);
    gap: 12px;
  }
}
.grid- {
  &sm {
    gap: 12px;
  }
  &md {
    gap: 16px;
  }
  &lg {
    gap: 20px;
  }
  &xl {
    gap: 32px;
  }
  &xxl {
    gap: 50px;
  }
  @include tablet {
    &sm, &md, &lg, &xl, &xxl {
      gap: 20px;
    }
  }
}