.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
    &-line {
        height: 5px;
        &.rounded {
            border-radius: 4px;
        }
    }
    &-image {
        height: 50px;
        &.rounded {
            border-radius: 50%;
        }
    }
}

@keyframes skeleton-loading {
    0%{
        background: hsl(200, 20%, 85%);
    }

    100% {
        background: hsl(200, 20%, 95%);
    }
}