.btn{
    &-basic {
        background: $black !important;
        color: $white !important;
        &:hover {
            background: $l-black !important;
        }
    }
    &:disabled {
        background: $disabled !important;
    }
}