@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import 'module/base';
@import 'module/font';
@import 'module/variable';
@import 'module/display';
@import 'module/mixin';
@import 'module/transition';
@import 'module/text';
@import 'module/toast';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 24px;
  a {
    text-decoration: none;
    color: $black;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}
h1, h2 {
  letter-spacing: 1px;
}

input[type="number"] {
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}
body[data-active]{
  overflow: hidden;
}
.app-container {
  padding-top: 64px;
}
.error-message {
  padding-top: 20px;
  @extend .text-center;
  color: red;
  @extend .f-14;
  @extend .weight-500;
}
.icon-append-left {
  margin-right: 6px;
}