.title {
  p {
    &:first-child {
      padding-bottom: 10px;
    }
  }
  padding-bottom: 20px;
}
.remember {
  .check-box {
    span {
      padding-left: 10px;
    }
  }
  padding-bottom: 20px;
}
.error {
  margin-bottom: 20px !important;
}
.register {
  padding-top: 10px;
}
.validate {
  padding-bottom: 10px;
}